<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HttpMock" version="2.0.1" targetFramework="net45" />
  <package id="Kayak" version="0.7.2" targetFramework="net45" />
  <package id="log4net" version="2.0.7" targetFramework="net45" />
  <package id="Mapbox.VectorTile" version="1.0.4-alpha2" targetFramework="net45" />
  <package id="NUnit" version="3.5.0" targetFramework="net45" />
  <package id="NUnit.Console" version="3.5.0" targetFramework="net45" />
  <package id="NUnit.ConsoleRunner" version="3.5.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.5.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.5.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.5.0" targetFramework="net45" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.2" targetFramework="net45" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.5.0" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="3.5.1" targetFramework="net45" />
</packages>